*.DS_Store
patches_debug/
models/IAM_data_reshaped.pt
models/RIMES_data_reshaped.pt
scrabblegan_arshjot/__pycache__/
scrabblegan_arshjot/data/Lexicon/Lexique383.tsv
scrabblegan_arshjot/data/Lexicon/words.txt
scrabblegan_arshjot/output/*png
